<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title th:text="${title}">global-navigation</title>
</head>

<body>

<th:block id="default">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">asoview! Weather Manager</a>
      </div>

    </div><!-- /.container-fluid -->
  </nav>
</th:block>

</body>
</html>
