<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>
<body>
<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>

    </div>

    <th:block th:object="${criteriaOfWeather}">
        <form method="get" action="./list.html" th:method="post" th:action="@{'/weather-day/query'}">
            <div class="form-group">
                
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </form>
    </th:block>

    <hr/>

</div>
<!-- /.container -->


</body>
</html>
